<!-- // COMMANDS -->
<div class="global-command">
    <button mat-stroked-button color="primary">New project</button>
    <button mat-stroked-button color="warn">Save as</button>
    <button mat-stroked-button color="warn">Save</button>
    <button mat-stroked-button color="accent">Settings</button>
    <button mat-stroked-button color="basic">Publish</button>
    <button mat-button color="basic" aria-label="Example icon button with a menu icon" matTooltip="Create new global command" #tooltip="matTooltip">
        <mat-icon>add</mat-icon> New command
    </button>
</div>