<div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <h1 class="title"> {{ 'PAGES.SETTINGS.EDIT.TITLE' | translate }} </h1>

    <!-- Settings -->
    <div *ngFor="let item of data" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
        <mat-form-field appearance="fill" fxFlex="20">
            <mat-label>{{ 'PAGES.SETTINGS.EDIT.KEY' | translate }}</mat-label>
            <input matInput [(ngModel)]="item[0]" >
        </mat-form-field>
        <mat-form-field appearance="fill" fxFlex="80">
            <mat-label>{{ 'PAGES.SETTINGS.EDIT.VALUE' | translate }}</mat-label>
            <input matInput [(ngModel)]="item[1]" >
        </mat-form-field>
        <button mat-stroked-button color="warn" class="delete-button" (click)="removeItem(item)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>

    <!-- Buttons -->
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="addNewItem()">
            <mat-icon>add</mat-icon>{{ 'GENERAL.NEW' | translate }}
        </button>
        <button mat-flat-button color="accent" (click)="save()">{{ 'GENERAL.SAVE' | translate }}</button>
        <a mat-flat-button routerLink="/">{{ 'GENERAL.BACK' | translate }}</a>
    </div>
</div>