.filter {
    // max-height: 15px;
}

.mat-menu-item {
    line-height: 22px;
    height: 22px;
}

.table-wrapper {
    max-height: 400px;
    min-height: 210px;
    overflow: auto;
}

mat-row.mat-row.ng-star-inserted {
    height: 32px !important;
}

tr.mat-row, tr.mat-footer-row {
    height: 10px;
}

tr.mat-row, tr.mat-footer-row {
    height: 15;
}

.mat-row {
    min-height: 30px !important;
    padding:0px !important;
}

.mat-header-cell, td.mat-cell, td.mat-footer-celling {
    min-height: 30px !important;
    height: 32px !important;
    padding:0px !important;
    font-size: 12px;
}