.terminal-wrapper {
    padding-top: 5px;
}

.terminal {
    font-size: 12px;
    font-family: "Roboto";
    max-width: 100%;
    background-color: #f1f1f1;
    max-height: 250px;
    min-height: 250px;
    overflow: auto;
    padding: 7px;
    direction: ltr;
    /*position of scroll bar can use rtl if wanted, but use div * {direction: ltr;} if you do.} */
    scrollbar-width: thin;
    /*fancy width*/
    scrollbar-color: #f3f0dd #154734;
    /*fancy colors for Firefox*/
}

.terminal div {
    width: 100%;
    min-height: 13px;
}

.clear-terminal {
    right: 15px;
    position: absolute;
}

.terminal-input {
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.pre-wrap-text div {
    white-space: pre-wrap;
    font-family: monospace;
}