<!-- Menu -->
<app-shared-main-panel></app-shared-main-panel>

<div class="container">

    <div class="row">
        
        <!-- Sidebar -->
        <div class="col-md-3">
            <app-shared-menu></app-shared-menu>
        </div>

        <!-- Content -->
        <main role="main" class="col-md-9pt-3 px-4">
            <div sclass="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <router-outlet></router-outlet>
            </div>
        </main>
        
    </div>
    
</div>

<!-- XTermJS -->
<app-shared-terminal></app-shared-terminal>