<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Clicker</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" (click)="LogOut()">Sign out</a>
        </li>
    </ul>
</nav>

<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
    <div><a href="https://www.positronx.io" target="_blank" class="positronx">PositronX.io</a></div>
    <span class="nav-tool-items">
      <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
      <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    </span>
</mat-toolbar>
  