@import "./../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

/* You can add global styles to this file, and also import other style files */
html,
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background: url(./assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  background-color: #673ab7;
  height:100%;
  margin: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.content {
  margin:8px;
}

.global-commands {
  background-color: none !important;
}