<!-- Commands -->
<div class="global-command-group flex-container" *ngFor="let commandGroup of data | keyvalue" fxLayout="column"
    fxLayoutGap="3px">

    <!-- Commands -->
    <div fxFlex fxLayoutGap="3px">

        <!-- Buttons -->
        <button mat-button class="menu" *ngFor="let command of commandGroup.value | keyvalue"
            (click)="RunCommand(command.value)">
            {{command.value.DisplayName}}
        </button>

        <!-- ADD buton -->
        <button mat-flat-button color="accent" (click)="generateGlobalScript(commandGroup.value, commandGroup.key)" *ngIf="commandGroup.key == 'Commands'"
            aria-label="Example icon button with a menu icon" matTooltip="Create new global command"
            #tooltip="matTooltip">
            <mat-icon>add</mat-icon> Add command
        </button>
    </div>

    <!-- Title -->
    <div class="title" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div style="align-content: center;">{{ commandGroup.key}}</div>
    </div>
</div>