// Card
mat-card {
    width:100%;
}

// Forms
mat-form-field {
    width: 100%;
}

// Snackbar
.snackbar-validation {
    background-color: rgb(250, 238, 74);
}

.snackbar-notification {
    background-color: rgb(71, 250, 101);
}