<form>

    <!-- <h1 mat-dialog-title>{{ data.scriptScope | enumToString }}</h1> -->
    <h1 mat-dialog-title *ngIf="data.scriptScope == 0"> Generate global script</h1>
    <h1 mat-dialog-title *ngIf="data.scriptScope == 1"> Generate item script</h1>
    <h1 mat-dialog-title *ngIf="data.scriptScope == 2"> Generate import script</h1>
    <h1 mat-dialog-title *ngIf="data.scriptScope == 3"> Generate module script</h1>

    <div mat-dialog-content>

        <mat-form-field appearance="fill" *ngIf="data.scriptScope != 2">
            <mat-label>Script name</mat-label>
            <input matInput [(ngModel)]="data.name" [formControl]="name" required [errorStateMatcher]="matcher">
            <mat-error *ngIf="name.hasError('required')">Enter script name</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" *ngIf="data.scriptScope != 3">
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="data.scriptType" [formControl]="scriptType" [errorStateMatcher]="matcher">
                <mat-option [value]="scriptType" *ngFor="let scriptType of data.scriptTypes" required>
                    {{ scriptType | scriptTypeToString }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="scriptType.hasError('required')">You must select type</mat-error>
        </mat-form-field>

    </div>

    <div mat-dialog-actions >
        <button mat-flat-button style="margin-right:5px" (click)="onNoClick()">Cancel</button>
        <button mat-flat-button color="primary" [mat-dialog-close]="data" [disabled]="matcher.isValid"  (click)="onOkClick()" cdkFocusInitial>Ok</button>
    </div>
</form>