.add-module-button-container {
    line-height: 46px;
    z-index: 1000;
    background-color: #ffd740;
    padding-left: 5px;
    padding-right: 5px;
}

.mat-menu-item {
    line-height: 30px;
    height: 30px;
}

.custom-button {
    padding:100%;// make context-menu zone much bigger (not only on text)
}