<!-- Loading  -->
<div class="my-overlay" *ngIf="showOverlay">
    <div fxLayout="column" fxLayoutAlign="stretch">
        <mat-spinner></mat-spinner>
        <span class="spinner-message">{{ loadingMessage }}</span>
    </div>
</div>

<mat-card class="content" *ngIf="showOverlay == false">
    <!-- Global commands -->
    <shared-global-commands [data]="globalComands"></shared-global-commands>

    <!-- TEST BUTTONS -->
    <button mat-button (click)="openSnackBar('Testuji, tedy jsem')">Test snack</button>
    <button mat-button (click)="openDialog()">Test dialog</button>
    <button mat-button (click)="testTerminal('TESTUJI TERMINAL')">Test term</button>
</mat-card>

<mat-card class="content" *ngIf="showOverlay == false">

    <div fxLayout="column" fxLayoutAlign="stretch">
        <!-- Navigation -->
        <div fxFlex="100%">
            <shared-navigation></shared-navigation>
        </div>
    </div>

    <!-- Search -->
    <div fxLayout="column" fxLayoutAlign="stretch">
        <div fxFlex="100%">
            <shared-search></shared-search>
        </div>
    </div>

    <!-- Content -->
    <div fxLayout="column" fxLayoutAlign="stretch">
        <div fxFlex="100%">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-card>

<!-- Footer -->
<mat-card class="content" *ngIf="showOverlay == false">
    <div fxLayout="row" class="content footer" fxLayoutAlign="stretch">
        <div fxFlex="50%">
            Author: Nikolas Diesl (<a href="dieslnikolas@gmail.com">dieslnikolas@gmail.com</a>,
            <a href="https://www.dieslnikolas.cz" alt="dieslnikolas web page">web</a>)
        </div>
        <div fxFlex="50%" class="aling-right">
            Version: 1.0
        </div>
    </div>
</mat-card>

<!-- Terminal -->
<shared-terminal *ngIf="showOverlay == false"></shared-terminal>