.aling-right {
    text-align: right;
}

.spinner-message {
    color: white;
}

.overlay {
    left: 0 !important;
    top: 0 !important;
    z-index: 10000 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
    cursor: pointer !important;
    visibility: visible !important;
    transition: visibility 0s, opacity 0.4s linear !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: wait !important;
}

.overlay i.fa.fa-spinner.fa-spin,
.spinner-big {
    font-size: 100px !important;
}

// CONTENT FRAME
#main {
    height: calc(100% - 32px);
    overflow-y: auto;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 8px;
}

// windows uses custom frame 
.move-from-windows-title {
    padding-top: 46px !important;
}

.load-new-screen {
    height: 500px;
}

.card-with-options {
    min-width: 400px;
    background-color: #f5f3f3;
}

.hidden {
    display:none;
}