<div fxLayout="row" class="footer" fxLayoutAlign="fill">

    <!-- Authors -->
    <div fxFlex="80%">
        <span>
            <strong>
                Author: Nikolas Diesl
            </strong>

            Mail: <a href="mailto:dieslnikolas@gmail.com">dieslnikolas@gmail.com</a>
            Repo: <a (click)="openExternal('https://dev.azure.com/dieslnikolas/Clicker'); $event.preventDefault()" href="#" target="_blank">repo</a>
            Web: <a (click)="openExternal('https://www.dieslnikolas.cz'); $event.preventDefault()" href="#" target="_blank" alt="dieslnikolas web page">web</a>)
        </span>

        <span>
            <strong>
                Original author: Pavel Lorenz
            </strong>

            Mail: <a href="mailto:mail@lorenzo.cz">mail@lorenzo.cz</a>
            Repo: <a (click)="openExternal('https://github.com/elpablos/PowerGene'); $event.preventDefault()" href="#" target="_blank">repo</a>
            Web: <a (click)="openExternal('https://lorenzo.cz/'); $event.preventDefault()" href="#" target="_blank">web</a>
        </span>
    </div>

    <!-- Version -->
    <div fxFlex="20%" style="text-align: right;">
        Version: 1.0
    </div>
</div>